.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 44pt;
  width: auto;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px; /* Відстань між кнопками */
}

.header-btn {
  font-size: 14px;
  padding: 5px 15px;
}
.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}