<nz-content>
  <nz-upload
    nzType="drag"
    nzListType="picture-card"
    [nzPreview]="handlePreview"
    [(nzFileList)]="fileList"
    [nzShowUploadList]="true"
  >
    <p class="ant-upload-drag-icon">
      <span nz-icon nzType="inbox"></span>
    </p>
    <p class="ant-upload-text">Click or drag file to this area to upload</p>
    <p class="ant-upload-hint">
      Support for a single or bulk upload. Strictly prohibit from uploading
      company data or other band files
    </p>
  </nz-upload>
  <button
    nz-button
    [nzType]="'primary'"
    [nzLoading]="uploading"
    (click)="handleUpload()"
    [disabled]="fileList.length === 0"
    style="margin-top: 16px"
  >
    {{ uploading ? "Uploading" : "Start Upload" }}
  </button>
  <nz-modal
    [nzVisible]="previewVisible"
    [nzContent]="modalContent"
    [nzFooter]="null"
    (nzOnCancel)="previewVisible = false"
  >
    <ng-template #modalContent>
      <img [src]="previewImage" alt="Preview" [ngStyle]="{ width: '100%' }" />
    </ng-template>
  </nz-modal>
</nz-content>
